services:
  abr:
    build: .
    container_name: abr_app
    image: ghcr.io/ncecere/abr:v0.1.1 
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - DATABASE_PATH=/app/var/data/abr.sqlite
      - DOWNLOADS_DIR=/app/var/downloads
      - LIBRARY_ROOT=/app/var/library
    volumes:
      - abr_data:/app/var/data
      - abr_library:/app/var/library
      - abr_downloads:/app/var/downloads
    restart: unless-stopped

volumes:
  abr_data:
  abr_library:
  abr_downloads:
